:global(:root) {
  --blue: #53cabc;
  --yellow: #f6d135;
  --purple: #af77f4;
  --red: #ef4d39;
}

.backgroundColor {
  min-height: 100vh;
  background-image: radial-gradient(circle, #52495e, #2c2437);
}
