.active {
  color: var(--yellow);
  font-weight: 400;
}

header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav {
  color: white;
  font-size: 1.8rem;
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
}

nav > a > span {
  padding: 1.6rem;
}

.title {
  font-size: 1.8rem;
  color: white;
  padding: 2.4rem;
}

.eigenWoordButton > span {
  color: black;
  font-weight: 400;
  background-color: var(--yellow);
  border-radius: 3rem;
  padding: 1.6rem 2.4rem;
}
